.cart_control_div {
  display:block;
  min-height: 45px;
  overflow: hidden;
  width:93%;
  margin: 10px auto 0 auto;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 25px;
  background-color: rgba(125, 125, 125, 0.5);
}
.cart_prod_div{
  background-color: white;
  display: block;
  width: 95%;
  min-height:140px;
  overflow: hidden;
  margin: 10px auto;
  background-color: white;

}
.cart_prod_link {
  text-decoration:none;
  color:grey;
  font-weight: bold;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.cart_prod_link:hover {
  color:#98FB98;
}
.cart_prod_div:hover {
  background-color: ;
}
.cart_prod_div div{
  display: block;
  float:left;
}
.cart_prod_image{
  height:180px;
}
.cart_prod_image img{
  width:100%;
  heigth:100%;
  object-fit: cover;
  object-position: center;
}
.cart_prod_title_div {
  margin: 10px 0 10px 10px;
  float:left;
  width: 90%;
}
.cart_prod_title {
  font-size: 35px;
  margin: 10px 0 10px 10px;
  float:left;
  color: black;
}
.cart_prod_checkbox {
  float:right;
}
.cart_prod_content {
  float:left;
  width:900px;
}
.cart_prod_description {
  float: left;
  clear:left;
  margin: 0px 0 10px 10px;
  font-size: 20px;
  color: black;
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align:center;
  padding-right: 10px;
}
.cart_prod_price {
  float: left;
  margin: 0px 0 10px 10px;
  font-size: 20px;
  color: black;
  width: 150px;
  text-align:center;
}
.cart_prod_checkbox {
  width:30px;
  height: 25px;
  background-color: black;
  float:right;
  text-align: center;
  padding-top: 5px;
}
.right_border {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: silver;
}
.right_border_dotted {
  border-right-style: dotted;;
  border-right-width: 1px;
  border-right-color: grey;
}
.right_border_white {
  border-right-style: dotted;;
  border-right-width: 1px;
  border-right-color: white;
}
.cart_select_all {
  padding-right: 10px;
}
.cart_delete_all {
  padding-left: 15px;
  padding-right: 15px;
}
.cart_delete_all:hover {
  color:red;
  font-weight: 900;
}
.cart_delete_title {
  font-size: 18px;
  padding-right: 10px;
}
.cart_count_total {
  margin-left: 10px;

}
.cart_count_result {
  color:red;
  padding-left: 10px;
  padding-right: 20px;
  font-weight: 900;
  font-size: 22px;

}
.cart_item_amount {
  margin-right: 10px;
  margin-left: 20px;
}
.cart_purchase_btn {
  float: right;
  background-color: #FF7256;
  border:none;
  padding:10px;
  margin-top: -5px;
  color: white;
  font-weight: 500;
}
.cart_purchase_btn:hover {
  background-color: #FF4500;
  color: white;
  transform: scale(1.2);
	 -webkit-transition-duration: 200ms; /* Safari */
    -webkit-transition-delay: 200ms; /* Safari */
    transition-delay: 200ms;
}
.empty_cart_div {
  display: block;
  width: 93%;
  min-height:30px;
  overflow: hidden;
  font-size: 25px;
  color:red;
  margin: 10px auto;
  text-align: center;
  padding:10px;
  background-color: rgba(245, 245, 245, 0.5);;
}
#cart_control_outer {
}
