body {
	/*background-color:rgba(72, 118, 255, 0.3);*/
	background-image: url("../images/colorful-triangles-background.jpg");
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0 auto;
	font-family:elegant_luxmager;
	font-size:25px;
}
.login_div {
	border-style:solid;
	border-color:white;
	border-width:1px;
	width:380px;
	min-height:400px;
	margin:100px auto;
	border-radius:20px;
}
.logo_div {
	width:100px;
	height:100px;
	margin-top:-40px;
	margin-left:140px;
}
.logo_images {
	width:180px;
	margin-top:-40px;
	margin-left:-40px;
}
.input_div {
	width:300px;
	min-height:280px;
	background-color:;
	margin:30px auto;

}
.btn {
	font-family:elegant_luxmager;
	font-size:18px;
	width:48%;
	color:#6B6B6B;
	font-weight:800;
	border-radius:5px;
	margin-top:40px;
	height:39px;
	border-style:solid;
	border-width:0px;
}

.forget_btn:hover{
	color:white;
}


.login_btn {
	float:right;
	display:block;
	background-color:#63B8FF;
}

.login_btn:hover{
	color:white;
}

.send_btn {
	float:right;
	display:block;
	background-color:#63B8FF;
}




.register_btn {
	float:left;
	display:block;
	background-color:#00FF7F;
}



.forget_btn{
	margin-left: 30%;
	display: block;
	background-color: #dba400;
	opacity: 0.8;

}

.register_btn:hover{
	color:white;
}



.press_reg {
	display:block;
	margin:15px auto;
	background-color:#00FF7F;
}

.input_box {
	background-color:rgba(240, 255, 255, 0.5);
	font-family:elegant_luxmager;
	color:black;
	border-style:solid;
	border-width:1px;
	border-color:grey;
	border-radius:8px;
	width:100%;
	height:40px;
	margin-top:10px;
	padding-left:50px;
	font-size:18px;
	outline:0;

}
.input_box:focus {
	background-color:none;
	opacity:0.8;
}

.input_box_forget {
	background-color:rgba(240, 255, 255, 0.5);
	font-family:elegant_luxmager;
	color:black;
	border-style:solid;
	border-width:1px;
	border-color:grey;
	border-radius:8px;
	width:238px;
	height:36px;
	margin-top:10px;
	padding-left:50px;
	font-size:18px;
	outline:0;

}


input::-webkit-input-placeholder {
color: black !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: black !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: black !important;
}

input:-ms-input-placeholder {
color: black !important;
}
.email {
	background-image: url("../images/login_email.png");
	background-repeat:no-repeat;
	-webkit-background-size: 25px;
	-moz-background-size: 25px;
	-o-background-size: 25px;
	background-size: 25px;
	background-position:10px 7px;
}
.nickname {
	background-image: url("../images/nickname.png");
	background-repeat:no-repeat;
	-webkit-background-size: 25px;
	-moz-background-size: 25px;
	-o-background-size: 25px;
	background-size: 25px;
	background-position:10px 7px;
}
.password {
	background-image: url("../images/login_password.png");
	background-repeat:no-repeat;
	-webkit-background-size: 23px 25px;
	-moz-background-size: 23px 25px;
	-o-background-size:23px 25px;
	background-size: 23px 25px;
	background-position:10px 7px;

}
.phone {
	background-image: url("../images/phone.png");
	background-repeat:no-repeat;
	-webkit-background-size: 25px 25px;
	-moz-background-size: 25px 25px;
	-o-background-size: 25px 25px;
	background-size: 25px 25px;
	background-position:10px 7px;
}
.bday {
	background-image: url("../images/bday.png");
	background-repeat:no-repeat;
	-webkit-background-size: 25px;
	-moz-background-size: 25px;
	-o-background-size:25px;
	background-size: 25px;
	background-position:10px 7px;
}
.address {
	background-image: url("../images/address.png");
	background-repeat:no-repeat;
	-webkit-background-size: 30px 25px;
	-moz-background-size: 30px 25px;
	-o-background-size:30px 25px;
	background-size: 30px 25px;
	background-position:10px 7px;
}
.login_error {
	font-size:20px;
	padding-top:20px;
	width:100%;
	height:20px;
	text-align:center;
	color:red;
}
.error_message {
	display:none;
}
.error_display {
	display:block;
}
.reg_error {
	color:red;
	font-weight: bolder;
	font-size:22px;
	padding:10px 0 0px 5px;
	display:block;
	height:15px;
}

.reg_normal {
	color:red;
	font-size:12px;
	padding:10px 0 0px 5px;
	display:block;
	height:15px;
	opacity: 0;

}
#forget_password{
font-size: 30px;
font-weight: bolder;
color:white;
padding-left: 20%;
}



.forget_password{
margin-left: 20%;
margin-right: 20%;
text-align: center;
padding-top: 3px;
padding-bottom: 5px;
font-family:elegant_luxmager;
margin-top: 10px;
opacity:0.49;
display: block;

}
.forget_password:hover {
}
.forget_password_text{
	text-decoration: none;
	font-size: 22px;
	color:black;
}

.forget_password_text:hover{
	color:white;
}

.forget_password:hover{

opacity:0.7;

}

#change_password{
	color:white;
	font-weight: bolder;
	padding-left: 20%;
}
