body {
	background-image: url("../images/colorful-triangles-background.jpg");
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0 auto;
	font-family:elegant_luxmager;
}

.header {
	background-color:rgba(202, 225,	255, 0.8);
	width:80%;
	height:110px;
}
.logo_images {
	width:100px;
	margin-left:10px;
}
.logo_link {
	text-decoration:none;
	color:grey;
	background-color:;
	font-size:38px;
	display:inline-block;
}
.shop_name {
	margin-top:30px;
	background-color:;
	float:right;
}
.nav_bar {
	background-color:silver;
	width:100%;
	height:50px;
}

.cont {
	background-color:rgba(202, 225,	255, 0.8);
	width:80%;
	min-height:100%;
	margin-bottom:30px !important;
}

.cont_element {
	margin:20px 0px auto !important;
	border:solid 1px white;
}

.footer {
	background-color:rgba(0,0,0,0.7);
	width:110%;
	height:80px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:-5%;
	float:left;
    -webkit-transition-duration: 800ms; /* Safari */
    -webkit-transition-delay: 800ms; /* Safari */
    transition-delay: 800ms;
	color:white;
	text-align:center;
	font-size:28px;
}
.footer:hover {
	background-color:black;
	
}
.footer_text {
	width:90%;
	background-color:;
	display:inline-block;
	margin-top:25px;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px auto;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0 ;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 0 auto;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}