body {
	background-image: url("../images/colorful-triangles-background.jpg");
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin:0 auto;
	font-family:elegant_luxmager;
}
.logo_div {
	min-height:80px;
	background-color:rgba(41, 41, 41, 0.4);
}
.logo_images {
	width:80px;
	margin-left:10px;
	float:left;
}
.logo_link {
	background-color:;
	float:left;
	width:100%;
	display: table-cell;
	vertical-align:middle;
	text-decoration:none;
}
.shop_name {
	font-size:25px;
	display:;
	background-color:;
	width:100%;
	color:white;
}
.search_div{
	text-align:center;
}
.search_bar {
	width:90%;
	height:40px;
	text-align:left;
	padding-left:38px;
	border-radius:10px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	outline:0;
	background-image: url("../images/search.png");
	background-repeat:no-repeat;
	-webkit-background-size: 70px 70px;
	-moz-background-size: 70px 70px;
	-o-background-size: 70px 70px;
	background-size: 70px 70px;
	background-position:-15px -15px;
}
.btn_group p{
	text-align:center;
}
.btn {
	width:80px;
	height:20px;
	margin:5px 10px 0 10px;
	padding:5px 0 5px 0;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	font-size:18px;
	color:white;
}
.reg_btn:hover {
	background-color:#00FF7F;
	transform: scale(1.2);
	 -webkit-transition-duration: 200ms; /* Safari */
    -webkit-transition-delay: 200ms; /* Safari */
    transition-delay: 200ms;
	color:black;
}
.log_btn:hover {
	background-color:#63B8FF;
	transform: scale(1.2);
	 -webkit-transition-duration: 200ms; /* Safari */
    -webkit-transition-delay: 200ms; /* Safari */
    transition-delay: 200ms;
	color:black;
}
.nav_bar {
	background-color:white;
	width:100%;
	min-height:0;
	z-index:999;
}
.nav_content {
	text-align:center;
	width:100%;
}
.nav_item {
	display:inline-block;
	list-style-type:none;
	background-color:;
	padding:0px;
	margin-left:5px;
}
.nav_item  li{
	float:left;
}
.nav_item  li a{
	text-decoration: none;
	display:block;
	background-color:silver;
	margin:5px 10px;
	width:150px;
	height:30px;
	padding-top:7px;
	text-align:center;
	font-size:20px;
	color:white;
}
.nav_item  li a:hover{
	color:white;
	font-weight:bold;
	background-color:#4876FF;
	transform: scale(1.2);
	 -webkit-transition-duration: 200ms; /* Safari */
    -webkit-transition-delay: 200ms; /* Safari */
    transition-delay: 200ms;
}
.cont {
	background-color:rgba(202, 225,	255, 0.8);
	width:80%;
	min-height:100%;
	margin-bottom:30px !important;
	z-index:1;
}

.cont_element {
	margin:20px 0px auto !important;
	border:solid 1px white;
}

.footer {
	background-color:rgba(0,0,0,0.7);
	width:110%;
	height:80px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:-5%;
	float:left;
    -webkit-transition-duration: 800ms; /* Safari */
    -webkit-transition-delay: 800ms; /* Safari */
    transition-delay: 800ms;
	color:white;
	text-align:center;
	font-size:28px;
}
.footer:hover {
	background-color:black;
	
}
.footer_text {
	width:90%;
	background-color:;
	display:inline-block;
	margin-top:25px;
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px auto;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0 ;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 0 auto;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%;
}