.product_content_div {
  background-color: white;
  margin:20px auto 0 auto;
  width: 90%;
  min-height: 10px;
  padding: 20px;
  overflow:hidden;
}
.product_cover {
  float: left;
  background-color: grey;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  display: block;
  position: relative;
  overflow: hidden;
}
.product_btn {
  width:88px;
  height:30px;
  margin-top: 10px;
  text-align: center;
  color: white;
  border:none;
}

.rent_btn {
  float:right;
  background-color: orange;
}
.rent_btn:hover {
  background-color: #ED9121;
}
.buy_btn {
  float: left;
  background-color: #00CD66;
}
.buy_btn:hover {
  background-color: #3CB371;
}
.product_cover {
  margin-left: 20px;
  margin-top: 10px;
}
.product_picture {
  width: 100%;
  height: auto;
}
.product_content_name {
  margin-top: 10px;
  font-size: 28px;
  float:right;
}
.product_content_price {
  margin-top: 15px;
  color:red;
  font-size: 22px;
  font-weight: bold;
  float:right;
}
.product_content_quantity_div {
  float:right;
  margin-top:15px;
  font-size: 22px;
  height: 32px;
}
.product_content_quantity_function_title {
  float:left;
  width:120px;
  padding-top: 3px;
}
.product_content_quantity_function_operation {
  float: left;
}
.quantity_value_input {
  width:30px;
  border:none;
  height:20px;
  padding-left: 20px;
}
.plus_function_char {
  margin-left: -5px;
}
.minus_function_char {
  margin-right: -6px;
}
.buy_title {
  color: black;
}
.rent_title {
  color: black;
}
.product_content_description {
  font-size: 18px;
  word-wrap: break-word;
  margin-top: 15px;
  float:right;
}
.purchase_div {
  width:90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding:10px;
  floa:left;
}
.purchase_title {
  font-size: 28px;
  padding: 8px;
  display: block;
  background-color:rgba(255, 140, 0, 0.5);
  font-weight: bold;
  color: Red;
  margin-bottom: 10px;
}
.purchase_image_size {

}
.purchase_product_img {
  float:left;
}
.purchase_product_img img {
  width: 150px;
  height: 150px;
}
.purchase_product_div {
  border:grey 1px solid;
  padding: 10px;
  overflow: auto;
}
.purchase_product_title {
  display: block;
  float:left;
  font-size: 32px;
  width:80%;
  margin-left: 15px;
  margin-bottom: 15px;
}
.purchase_product_price {
  font-size: 24px;
  color: red;
  font-weight: bold;
}
.purchase_product_amount {
  height: 50px;
  background-color: grey;
}
.purchase_description_char {
  display: block;
  width:80%;
  float:left;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 24px;
}
.purchase_product_value {
  font-size: 24px;
  display: inline-block;
  width:320px;
}
.purchase_product_caption {
  display: inline-block;
  width:120px;

}
