.product_content_div {
 background-color: white;
  margin:10px auto;
  width: 90%;
  min-height: 10px；
  padding-bottom: 20px;
}
.product_cover {
  float: left;
  background-color: grey;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 20px;
  display: block;
  position: relative;
  overflow: hidden;
}
.product_btn {
  width:95px;
  height:30px;
  float:left;
  margin-right: 10px;
  margin-top: 15px;
  text-align: center;
  color: white;
  border:none;
}

.rent_btn {

  background-color: orange;
}
.rent_btn:hover {
  background-color: #ED9121;
}
.buy_btn {
  background-color: #00CD66;
  clear:left;
  margin-left: 10px;
}
.buy_btn:hover {
  background-color: #3CB371;
}
.product_cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.product_cover img .product_picture {
  width: 100%;
  height: auto;
}
.product_content_name {
  float:right;
  width: 75%;
  background-color:;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 28px;
}
.product_content_price {
  float:right;
  width: 75%;
  background-color:;
  margin-right: 20px;
  margin-top: 15px;
  color:red;
  font-size: 22px;
  font-weight: bold;
}
.buy_title {
  color: black;
}
.rent_title {
  color: black;
}
.product_content_description {
  float:right;
  width: 72%;
  background-color: rgba(255, 255, 255, 0.8);;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 18px;
  padding: 15px;
  word-wrap: break-word;
}
.purchase_div {
  width:90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding:10px;
}
.purchase_title {
  font-size: 28px;
  padding: 8px;
  display: block;
  background-color:rgba(255, 140, 0, 0.5);
  font-weight: bold;
  color: Red;
  margin-bottom: 10px;
}
.purchase_image_size {

}
.purchase_product_img {
  float:left;
}
.purchase_product_img img {
  width: 100px;
  height: 100px;
}
.purchase_product_div {
  border:grey 1px solid;
  padding: 10px;
  min-height: 80px;
}
.purchase_product_title {
  width: 70%;
  font-size: 18px;
  display: block;
}
