* {
	margin: 0;
	padding: 0;
}
body{
	color: #bebebe;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}

h1, h2, h3, h4{
	font-family: Arial, sans-serif;
	color: #444444;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
button, .button{
	background: #F3F3F3;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font: 700 11px Tahoma, Arial, sans-serif;
	margin-right: 10px;
	padding: 7px 12px 7px 12px;
	position: relative;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;
}
button:hover, .button:hover{
	border-bottom-color: #999999;
	border-left-color: #999999;
	border-right-color: #999999;
	border-top-color: #999999;
	color: #333333;
	text-decoration: none;
}

.wrap{
	margin: 0 auto;
	width: 1000px;
}

#header #top{
	height: 72px;
	padding: 14px 20px 0 20px;
}
#header #top p{
	text-shadow: #000 0px 1px 1px;
}
#header #top a{
	color: #f07e01;
}

/* DESIGN OF TOP MENU */

#header #nav{
	height: 27px;
	margin:0;
	padding: 5px 20px 0 10px;
	position: relative;
}
#header #nav ul{
	list-style: none;
}
#header #nav ul li.upp{
	display: inline;
	float: left;
	position: relative;
	margin: 0;
	text-align: center;
}
#header #nav ul li.upp a{
	color: #bebebe;
	display: block;
	padding: 0px 30px 11px 10px;
	text-align: center;
	text-shadow: #000 0px 1px 1px;
}
#header #nav ul li.upp a:hover{
	color: #f07e01;
}
#header #nav ul li.upp a .active{
	color: #f07e01;
}

#header #nav ul li.upp ul{
	display: none;
}
#header #nav ul li.upp:hover ul{
	background: #17181c;
	border: 1px solid #58585a;
	border-top: none;
	display: block;
	position: absolute;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 9999;
}
#header #nav ul li.upp ul li{
	color: #4e4e4e;
	display: block;
	padding: 0 0 0 8px;
	text-align: left;
	width: 150px;

}
#header #nav ul li.upp ul li a{
	background: none;
	display: inline-block;
	padding: 6px 25px 6px 4px;
}
#header #nav ul li.upp ul li a:hover{
}
#content{
	margin: 30px 0 30px 0;
}
#content_mid{
	margin: 30px 100px 30px 100px;
}
#content .b1{
	background: #ffffff;
}
#content .b2{
	background: #f7f7f7;
}

#content tr:nth-child(even){
	background: #f7f7f7;
}
#content tr:nth-child(odd){
	background: #f7f7f7;
}

/* CONTENT SIDEBAR START */

#content #sidebar{
	float: left;
	margin: 0 20px 0 0;
	width: 190px;
	color: #656565
}
#sidebar a{
	color: #656565;
}

#sidebar .box{
	border: 1px solid #DCDDE1;
	margin: 0 0 12px 0;
}
#sidebar .box .h_title{
	color: #fff;
	cursor: pointer;
	font-size: 11px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
}

#sidebar .box ul{
	list-style: none;
}
#sidebar .box ul li{
	padding: 8px 0 8px 5px;
}
.box ul li .icon{ padding: 2px 0 2px 22px;}
.box ul li .page{ background: url(../img/i_page.png) no-repeat center left;}
.box ul li .view_page{ background: url(../img/i_view_page.png) no-repeat center left;}
.box ul li .category{ background: url(../img/i_category.png) no-repeat center left;}
.box ul li .contact{ background: url(../img/i_contact.png) no-repeat center left;}
.box ul li .report{ background: url(../img/i_report.png) no-repeat center left;}
.box ul li .add_page{ background: url(../img/i_add_page.png) no-repeat center left;}
.box ul li .photo{ background: url(../img/i_photo.png) no-repeat center left;}
.box ul li .config{ background: url(../img/i_config.png) no-repeat center left;}
.box ul li .users{ background: url(../img/i_users.png) no-repeat center left;}
.box ul li .add_user{ background: url(../img/i_add_user.png) no-repeat center left;}
.box ul li .block_users{ background: url(../img/i_block_users.png) no-repeat center left;}
.box ul li .view_icon{ background: url(../img/i_view_icon.png) no-repeat center left;}
.box ul li .timetable{ background: url(../img/i_timetable.png) no-repeat center left;}
.box ul li .profile{ background: url(../img/i_profile.png) no-repeat center left;}
.box ul li .add_table{ background: url(../img/i_add_table.png) no-repeat center left;}
.box ul li .logout{ background: url(../img/i_logout.png) no-repeat center left;}
.box ul li .show{ background: url(../img/i_show.png) no-repeat center left;}
.box ul li .search1{background: url(../img/i_search.png) no-repeat center left;}
.box ul li .error{background: url(../img/i_error.png) no-repeat center left;}
.box ul li .add_photo{ background: url(../img/i_photo.png) no-repeat center left;}



/* CONTENT MAIN START */

#content #main{
	float: right;
	margin: 0 0 12px 0;
	width: 780px;
}

#main .full_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
}
#main .full_w .h_title, #main .half_w .h_title{
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	height: 22px;
	padding: 7px 0 0 15px;
	text-shadow: #0E0E0E 0px 1px 1px;
}
#main .full_w .form_title{
	margin-left: 20px;
}
#main .full_w .list{
	list-style: none;
}
#main .full_w h1, #main .full_w h2, #main .full_w h3{
	margin: 15px 15px 5px 15px;
}
#main .full_w p{
	line-height: 16px;
	margin: 5px 15px;
}

#main .half_w{
	background: #ffffff;
	border: 1px solid #DCDDE1;
	color: #848484;
	margin: 0 0 20px 0;
	width: 330px;
	float: left;
}
#main .half_left{
	margin-right: 10px;
}
#main .half_right{
	margin-left: 4px;
}

/* STATS BLOCK */

#main .stats .today, #main .stats .week{
	float: left;
	margin: 10px auto;
	text-align: center;
	text-shadow: #fff 1px 1px 0px;
	width: 49%;
}
#main .stats .today{
	border-right: 1px dashed #c0c0c0;
}
#main .stats h3{
	color: #797777;
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#main .stats .count{
	color: #444444;
	font-size: 23px;
	font-weight: bold;
}
#main .stats .type{
	font-size: 10px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

/* CONTENT MAIN FORM */
#main form{
	margin: 15px;
}
#main form .element{
	clear: both;
	border-bottom: 1px dashed #ededed;
	display: block;
	margin: 0;
	padding: 10px 10px;
}
#main form label{
	color: #575757;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 0 3px;
}
#main form label span{
	color: #b8b8b8;
	font-size: 11px;
	font-weight: normal;
}
#main form input, #main form select{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 7px 3px;
}
#main form input:focus, #main form select:focus, #main form textarea:focus{	border: 1px solid #b3b3b3;}

#main form select{
	border: 1px solid #DDDDDD;
	border-radius: 3px;
}
#main form .inputbox{
	width: 40%;
}
#main form .textarea{
	width: 100%;
}
#main form .combobox select, #main form .combobox option{
	width: 100px;
	font-size: 10pt;
}
#main form .data_example{
	font-size:8pt;
	color:grey;
}
#main form .red{
	color: #FF5252;
}
/* MAIN NOTIFY */

#main .n_warning{background: #FFF7CE;border: 1px solid #D9C65B; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_warning p{	background: #FDF0B1 url(../images/i_warning.png) no-repeat 4px center;	color: #756B30;	margin: 0; padding: 7px 25px;}
#main .n_warning a{	color: #756B30;	font-weight: bold;}

#main .n_ok{background: #F6FFEC;border: 1px solid #89B755; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_ok p{background: #DFF6C5 url(../images/i_ok.png) no-repeat 4px center; color: #496528; margin: 0; padding: 7px 25px;}
#main .n_ok a{color: #006312; font-weight: bold;}

#main .n_error{background: #FDE4E1;border: 1px solid #B16A6C; border-radius: 3px; margin: 20px 15px;padding: 1px;}
#main .n_error p{background: #F4CAC6 url(../images/i_error.png) no-repeat 4px center; color: #630E18; margin: 0; padding: 7px 25px;}
#main .n_error a{color: #822121; font-weight: bold;}

/* MAIN TABLE */

table{
	border-collapse: collapse;
	margin: 15px;
}
table th{
	color: #DACDCD;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	font-size: 11px;
	font-weight: bold;
	padding: 7px;
	text-shadow: 0px 1px #242424;
}
table tr{
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
table td{
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid ffffff;
	color: #565656;
	padding: 8px;
}
table .chb{
	width: 20px;
}

.table-icon { padding: 2px 8px; margin-right: 5px; }
.edit table-icon { background: url(../img/i_edit.png) no-repeat; }
.delete table-icon { background: url(../img/i_delete.png) no-repeat; }
.show.table-icon { background: url(../images/i_archive.png) no-repeat;}
.icon add_user{background: url(../images/i_archive.png) no-repeat;}

/* Design for pagination*/

.pagination{
	margin: 5px auto;
	padding: 12px 0;
	text-align: center;
}
.pagination a{
	border:solid 1px #d2d2d2;
	color: #444444;
	margin-right:2px;
}
.pagination span{
	border:solid 1px #ddd;
	margin-right:2px;
}
.pagination .active{
	border:solid 1px #e0e0e0;
	color:#000;
	font-weight:bold;
}
.pagination a:link, .pagination a:visited{
	padding:6px 10px;
	text-decoration:none;
}
.pagination span{
	color:#b6b6b6;
	padding:6px 10px;
	text-decoration:none;
}
.pagination a:hover{
	border:solid 1px #b2b2b2;
}

/* FOOTER START */

#footer{
	border-top: 1px solid #FFF;
	color: #939393;
	float: left;
	margin: 0 auto;
	padding: 8px 20px;
	text-shadow: #111111 0px 1px 1px;
	width: 960px;
}
#footer a{
	color: #939393;
	font-weight: bold;
}

/* HELPERS START */

.entry{ color: #444; margin: 5px 0; padding: 5px 15px; text-shadow: 0px 1px #ffffff; }
.add{ background: #F3F3F3 url(../images/i_add.png) no-repeat 4px center;	padding-left: 25px;}
.cancel{ background: #F3F3F3 url(../images/i_cancel.png) no-repeat 4px center;	padding-left: 25px;}
.preview{ background: #F3F3F3 url(../images/i_preview.png) no-repeat 4px center;	padding-left: 25px;}
.search{ background: #F3F3F3 url(../images/i_search.png) no-repeat 4px center;	padding-left: 25px;}
.sep{ border-bottom: 1px dashed #DDDDDD; margin: 10px 0;}
.deletebtn{ background: #F3F3F3 url(../img/i_delete.png) no-repeat 4px center;	padding-left: 25px;}
.save{ background: #F3F3F3 url(../images/i_save.png) no-repeat 4px center;	padding-left: 25px;}
.reset{ background: #F3F3F3 url(../images/i_reset.png) no-repeat 4px center;	padding-left: 25px;}
.ok{ background: #F3F3F3 url(../images/i_ok.png) no-repeat 4px center;	padding-left: 25px;}
.reject{ background: #F3F3F3 url(../images/i_reject.png) no-repeat 4px center;	padding-left: 25px;}
.login{ background: #F3F3F3 url(../images/i_login.png) no-repeat 4px center;	padding-left: 25px;}
.error_msg{ background: #fff url(../images/i_error.png) no-repeat 4px center;	padding: 5px 0px 5px 25px; height:20px;}
.cellphone{ background: #F3F3F3 url(../images/i_cell_phone.png) no-repeat 4px center;	padding-left: 25px;}
.filter{ background: #F3F3F3 url(../images/i_filter.png) no-repeat 4px center;	padding-left: 25px;}

.clear{ clear: both; }
.red{ color: #FF5252; }
.grey{ color: #888; }
.left{ 	float: left; }
.right{ float: right; }
.center{ text-align: center;}

.align-left{ text-align: left; }
.align-right{ text-align: right; }

#error{ color: #c00;height: 20px; margin-right: 300px;}

 .alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
 .alert,.alert h4{color:#c09853}
 .alert h4{margin:0}
 .alert .close{position:relative;top:-2px;right:-21px;line-height:20px}
 .alert-success{color:#468847;background-color:#dff0d8;border-color:#d6e9c6}
 .alert-success h4{color:#468847}
 .alert-danger,.alert-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}
 .alert-danger h4,.alert-error h4{color:#b94a48}
 .alert-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}
 .alert-info h4{color:#3a87ad}.alert-block{padding-top:14px;padding-bottom:14px}
 .alert-block>p,.alert-block>ul{margin-bottom:0}
 .alert-block p+p{margin-top:5px}
 .hide{ display: ;}

.info {text-align: left;padding: 5px;font-size: 11px;color: #fff;position: absolute;display: none;}
.error {color: #c00;}
.correct {color: #0C0;}
.wrong {color: #e90000;}
.normal {font-weight: normal;color: #222;}

img.ui-datepicker-trigger{ margin-left: 5px;}
#main form label.error{ color: #c00;font-weight: normal;font-size: 12px; display: inline-block; margin-left: 5px;}
#main form input.error, #main form select.error, #main form input.wrong{ border: 1px solid #c00; }
span.booking{ height: 40px; width: 116px; background:url("smoothness/images/ui-bg_glass_75_e6e6e6.png") repeat-x scroll 50% 50% #e6e6e6;}
span.booking:hover{ height: 40px; width: 116px; background:url("smoothness/images/ui-bg_glass_75_dadada.png") repeat-x scroll 50% 50% #e6e6e6;}
td.booking_button{ padding: 0px; margin: 0px; width: 110px; height: 40px;}
.greybg{ background-color: #e7e7e7;}
.orangebg{ height: 30px; width: 93px; background:url("smoothness/images/ui-orangebg.png") repeat-x scroll 50% 50% #e6e6e6; }
#main form input.radio_button{ padding-right: 30px;}
