.user_pic_div {
  float:left;
}
.user_detail_div {
  float:left;
}
.user_pic_box {
  position: relative;
  overflow: hidden;
  background-color: #F7F7F7;
  width:200px;
  height:200px;
  margin:15px 0px 30px 30px;
}
.user_pic_box img{
  position: absolute;

  height: 100%;
  width: 100%;
  object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
  	object-position: center; /* Center the image within the element */
}
.user_pic_img {
  z-index:1;
  position: relative;
}

.file-upload {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: grey;
  color:white;
  border:none;
  height:25px;
  opacity:0.1;
  float:right;
  -webkit-transition-duration: 100ms; /* Safari */
   -webkit-transition-delay: 100ms; /* Safari */
   transition-delay: 100ms;
}
.file-upload:hover {
  opacity:1;
}
.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);

}
.user_data {
  width:98%;
  min-height:50px;
  overflow: hidden;
  background-color:#FFFFFF;
  margin: 15px 0;
}
.user_data_title {
  color:black;
  font-size: 20px;
  padding: 15px 10px;
  display:inline-block;
  float:left;
  height:40%;
  min-width:15%;
  text-align: left;
  background-color: ;
}
.user_data_content {
  color:black;
  font-size: 20px;
  padding: 15px 10px;
  display:inline-block;
  float:left;
  height:40%;
  width:50%;
  text-align: left;
  background-color: ;
}
.user_data_edit {
  width:auto;
  float:right;
  background-color: ;
  padding:15px;
}
.edit_user_name_input_char {
  display:none;
}
.edit_user_phone_input_char {
  display:none;
}
.edit_user_address_input_char {
  display:none;
  width:400px;
  height:100px;
  float:left;
}
.edit_user_date_input_char {
  display:none;
}
.edit_control_char {
  display:none;
}
#final_user_name {
  display:none;
}
